.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.App-header {
  background-color: #6a7c96;
  padding: 20px;
  padding-bottom: 5px;
  color: white;
  box-shadow: #6a7c96 2px;
  font-family: 'Helvetica', sans-serif;
}

.App-header h1 {
  margin: 0;
  font-size: 2.5em;
}

.App-main {
  padding: 20px;
  background-color: #768aa7;
  height: 100vh;
}

.video-container {
  position: relative;
  padding-bottom: 36.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 60%;
  background: #000;
  margin: 20px auto;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
